@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;700;800&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: "Manrope", sans-serif;
}

.root {
  display: flex;
  place-content: center flex-start;
  align-items: center;
  background-color: rgb(0, 0, 0);
  flex-flow: column nowrap;
  gap: 10px;
  overflow: auto;
  padding: 0px;
  position: relative;
  min-height: 100vh;
}

.container {
  display: flex;
  place-content: center flex-start;
  align-items: center;
  flex: 0 0 auto;
  flex-flow: column nowrap;
  gap: 10px;
  height: fit-content;
  max-width: 975px;
  overflow: auto;
  padding: 50px;
  position: relative;
  width: auto;
  gap: 64px;
}

.header {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  color: #fff;
}

.header-title {
  display: flex;
  gap: 12px;
}

.header-title h1 {
  width: 100%;
  font-weight: 700;
  font-size: 72px;
  letter-spacing: -4px;
  line-height: 1.2em;
  text-align: center;
  margin: 0;
}

.header-subtitle h2 {
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.4em;
  color: rgba(255, 255, 255, 0.75);
}

.prompt-container {
  place-content: flex-end center;
  align-items: center;
  display: flex;
  flex: 0 0 auto;
  flex-flow: column nowrap;
  gap: 16px;
  height: min-content;
  padding: 0px;
  width: min-content;
}

.prompt-box {
  border-bottom-width: 1px;
  border-color: rgba(255, 255, 255, 0.1);
  border-left-width: 1px;
  border-right-width: 1px;
  border-style: solid;
  border-top-width: 1px;
  place-content: flex-start;
  align-items: flex-start;
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 16px;
  display: flex;
  flex: 0 0 auto;
  flex-flow: column nowrap;
  gap: 10px;
  height: 150px;
  overflow: hidden;
  padding: 20px;
  position: relative;
  width: 610px;
  max-width: 1200px;
  will-change: transform;
  overflow: auto;
  outline: none;
  resize: none;
  font-size: 16px;
  font-style: normal;
  letter-spacing: 0px;
  line-height: 1.6em;
  text-align: start;
  color: rgba(255, 255, 255, 0.75);
  text-decoration: none;
  text-transform: none;
}

textarea {
  font-family: "Manrope", sans-serif;
}

.prompt-box:focus {
  border-color: rgba(255, 255, 255, 0.75);
}

.prompt-buttons {
  display: flex;
  place-content: center;
  align-items: center;
  justify-content: flex-end;
  flex: 0 0 auto;
  flex-flow: row nowrap;
  gap: 12px;
  height: min-content;
  overflow: hidden;
  padding: 0px;
  position: relative;
  width: 100%;
}

.key-stroke {
  outline: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-shrink: 0;
  transform: none;
}

.key-stroke p {
  color: rgba(255, 255, 255, 0.75);
  flex: 0 0 auto;
  height: auto;
  position: relative;
  white-space: pre;
  width: auto;
}

.or {
  outline: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-shrink: 0;
  transform: none;
}

.or p {
  color: rgba(255, 255, 255, 0.25);
}

.generate-button {
  place-content: flex-start;
  align-items: flex-start;
  background-color: rgb(255, 79, 18);
  border-radius: 100px;
  display: flex;
  flex: 0 0 auto;
  flex-flow: column nowrap;
  gap: 10px;
  height: min-content;
  overflow: hidden;
  padding: 16px 24px;
  position: relative;
  text-decoration: none;
  width: min-content;
  will-change: transform;
  cursor: pointer;
}

.generate {
  outline: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-shrink: 0;
  transform: none;
}

.generate p {
  color: rgb(255, 255, 255);
  margin: 0;
}

.loading {
  opacity: 0.7;
  cursor: default;
}

.badge-container {
  display: flex;
  bottom: 20px;
  flex: 0 0 auto;
  height: auto;
  left: 20px;
  position: fixed;
  width: auto;
  z-index: 1;
}

.badge-container a {
  border-bottom-width: 1px;
  border-color: rgba(255, 255, 255, 0.1);
  border-left-width: 1px;
  border-right-width: 1px;
  border-style: solid;
  border-top-width: 1px;
  background-color: rgb(0, 0, 0);
  border-radius: 54.3478% / 238.095%;
  filter: grayscale(1);
  transform: none;
  transform-origin: 50% 50% 0px;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: -0.5px;
  line-height: 1em;
  color: #fff;
  padding: 12px;
  text-decoration: none;
}

.badge {
  display: flex;
  align-items: center;
}

.badge img {
  width: 21px;
  height: 17px;
  image-rendering: pixelated;
  flex-shrink: 0;
  fill: black;
  color: black;
  transform: none;
  transform-origin: 50% 50% 0px;
  padding-right: 5px;
}

.badge p {
  margin: 0;
}

.grow {
  transition: all 0.2s ease-in-out;
}

.grow:hover {
  transform: scale(1.1);
}

.output {
  place-content: center flex-start;
  align-items: center;
  display: flex;
  flex: 0 0 auto;
  flex-flow: column nowrap;
  gap: 10px;
  height: min-content;
  max-width: 1200px;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.output-header-container {
  place-content: center;
  align-items: center;
  display: flex;
  flex: 0 0 auto;
  flex-flow: column nowrap;
  gap: 16px;
  height: min-content;
  overflow: hidden;
  padding: 0px;
  position: relative;
  width: 100%;
}

.output-header h3 {
  font-family: "Manrope", serif;
  font-size: 28px;
  font-style: normal;
  font-weight: 800;
  letter-spacing: 0px;
  line-height: 1.4em;
  text-align: start;
  color: #ffffff;
  text-decoration: none;
  text-transform: none;
  margin: 0;
}

.output-content {
  outline: none;
  display: flex;
  /* max-width: 25%; */
  flex-direction: column;
  justify-content: flex-start;
  flex-shrink: 0;
  transform: none;
}

.output-content p {
  text-align: center;
  white-space: pre-line;
  color: rgba(255, 255, 255, 0.5);
}

@media (min-width: 810px) and (max-width: 1199px) {
  .container {
    max-width: 600px;
    width: 100%;
  }

  .prompt-container {
    max-width: 600px;
    width: 100%;
  }

  .prompt-box {
    width: 100%;
  }
}

@media (max-width: 809px) {
  .container {
    max-width: 500px;
    width: 100%;
  }

  .prompt-container {
    max-width: 500px;
    width: 100%;
  }

  .prompt-box {
    width: 100%;
  }
}

@media (max-width: 600px) {
  .container {
    max-width: 400px;
    width: 100%;
  }

  .header-title h1 {
    font-size: 50px;
  }

  .header-subtitle h2 {
    text-align: center;
  }

  .key-stroke,
  .or {
    display: none;
  }

  .prompt-buttons {
    justify-content: center;
  }

  .prompt-container {
    max-width: 400px;
    width: 100%;
  }

  .prompt-box {
    width: 100%;
  }
}

/* Loading ring animation */
.loader {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  display: inline-block;
  border-top: 2px solid #fff;
  border-right: 2px solid transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* Navbar */
.nav__container {
  color: #ffffff;
  background-color: rgb(28, 28, 28);
  width: 100%;
  display: flex;
  align-items: center;
  height: 3.5rem;
  justify-content: center;
  position: fixed;
  z-index: 1;
}

.logo {
}

.logo h2 {
  font-weight: 500;
  font-size: 1.5rem;
  color: coral;
}

/* Chat */
.chat__container {
  z-index: 0;
  width: 80%;
  border: 1px solid #393939;
  border-radius: 0.6rem;
  height: 80vh;
  background-color: #191919;
  margin-top: 0rem;
  position: relative;
  overflow: hidden;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

@media (max-width: 600px) {
  .chat__container {
    width: 95%;
    margin-top: 2rem;
    margin-bottom: 3rem;
    height: 85vh;
  }
}

.chat__header {
  padding: 1rem 2rem;
  border-radius: 0.6rem 0.6rem 0 0;
  color: #fff;
  font-weight: 500;
  background-color: #202020;
  font-size: 1.3rem;
  color: coral;
  text-align: center;
}

.chat__body {
  background-color: #191919;
  display: flex;
  flex-direction: column;
  border-radius: 0 0 0.6rem 0.6rem;
  overflow-y: scroll;
  position: absolute;
  top: 3.8rem;
  left: 0;
  right: -17px;
  bottom: 3.2rem;
  padding: 0.5rem;
}

.ai__chat {
  background-color: #393939;
  padding: 0.6rem 1.2rem;
  border-radius: 0rem 0.8rem 0.8rem 0.8rem;
  color: #ececec;
  margin-top: 0;
  width: fit-content;
  max-width: 80%;
}

.user__chat {
  background-color: rgb(255, 79, 18);
  padding: 0.6rem 1.2rem;
  border-radius: 0.8rem 0.8rem 0rem 0.8rem;
  color: #ffffff;
  margin-top: 0;
  text-align: right;
  width: fit-content;
  -ms-flex-align: end;
  align-self: flex-end;
  max-width: 80%;
}

.input__form {
  background-color: #2c2c2c;
  bottom: 0;
  position: absolute;
  width: 100%;
}

.input__form form {
  display: flex;
  padding: 0.5rem;
  justify-content: space-between;
}

.input {
  width: 78%;
  height: 2.2rem;
  border-radius: 0.7rem;
  background-color: #1c1c1c;
  border: none;
  color: #fff;
  padding-left: 0.6rem;
  font-size: 0.9rem;
}

.input:focus {
  outline: none;
}

.send_chat {
  width: 17%;
  border-radius: 0.7rem;
  border: none;
  color: coral;
  font-weight: 600;
  font-size: 0.9rem;
  cursor: pointer;
  margin-left: 0.2rem;
}


.bouncing-loader {
  display: flex;
  justify-content: center;
}

.bouncing-loader > div {
  width: 8px;
  height: 8px;
  margin: 6px 3px;
  border-radius: 50%;
  background-color: #a3a1a1;
  opacity: 1;
  animation: bouncing-loader 0.6s infinite alternate;
}

@keyframes bouncing-loader {
  to {
    opacity: 0.1;
    transform: translateY(-10px);
  }
}

.bouncing-loader > div:nth-child(2) {
  animation-delay: 0.2s;
}

.bouncing-loader > div:nth-child(3) {
  animation-delay: 0.4s;
}